body {
    font-family: 'Poppins', Arial, sans-serif; /* Fonte moderna */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121f2f; /* Azul mais escuro e sóbrio */
}

.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    max-width: 400px;
    width: 90%;
}

.logo {
    max-width: 100%;
    height: auto;
    margin-top: 20px; /* Adiciona margem superior */
}

p {
    font-size: 16px;
    color: #555;
    margin: 5px 0;
}

.links {
    margin: 20px 0;
}

.btn {
    display: inline-block;
    margin: 5px;
    padding: 12px 25px; /* Ajuste no tamanho */
    border-radius: 30px; /* Bordas arredondadas */
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    border: none; /* Remove bordas */
    color: #fff; /* Cor do texto */
    background: linear-gradient(45deg, #4caf50, #81c784); /* Gradiente padrão */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animação */
}

.btn:hover {
    transform: translateY(-3px); /* Elevação ao passar o mouse */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); /* Sombra mais intensa */
}

.whatsapp {
    background: linear-gradient(45deg, #1ebe4a, #3dda6f); /* Gradiente ajustado para melhor contraste */
}

.instagram {
    background: linear-gradient(45deg, #e4405f, #f77737); /* Gradiente Instagram */
}

.location {
    background: linear-gradient(45deg, #007bff, #5a9dfc); /* Gradiente Localização */
}

.hours {
    margin-top: 20px;
}

.hours h2 {
    font-size: 18px;
    color: #333;
}

.hours ul {
    list-style: none;
    padding: 0;
}

.hours li {
    font-size: 14px;
    color: #555;
}

.icon {
    width: 24px; /* Ajuste o tamanho conforme necessário */
    height: 24px;
}

.specialties-list {
    text-align: left; /* Alinha a lista à esquerda */
    padding-left: 20px; /* Adiciona espaçamento à esquerda */
    margin-bottom: 30px; /* Adiciona espaçamento inferior */
}
